<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/font-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/theme-vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/variables.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css" />

    <link rel="icon" href="~/img/imgs/logo_web.png" type="image/x-icon" />
    <title>MARUBENI CREDIT</title>

</head>
<body>
    <!-- HEADER -->
    <header id="header" class=" border-bottom">

        @*@Html.Partial("_TopBar")*@
        @Html.Action("TopBar", "Menu")

        @*     @Html.Partial("_NavBar")*@
        @Html.Action("NavBar", "Menu")

    </header>

    <!-- Modal-Formularios 1-->
    <div id="formulario"
         class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-5 bg-card border-rad-20">

                <div id="contenedorForm">

                </div>
                <div class="modal-footer border-0 p-4"></div>
            </div>
        </div>
    </div>



    @Html.Partial("_ModalsTipoCredito")
    @Html.Partial("_ModalsTerminos")
    @Html.Partial("_ModalAcTDatos")
    <div>
        @RenderBody()

        <!-- FOOTER -->
        @*@Html.Partial("_Footer")*@
        @Html.Action("Footer", "Menu")

    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@


    <script type="text/javascript">
        var BASE_PATH = '@Url.Content("~/")';
    </script>


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootsnav.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/hamburger-menu.js"></script>
    <script src="~/Scripts/theme-vendors.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.rut.js"></script>
    <script src="~/Scripts/page/servicioCliente.js"></script>
    <script src="~/Scripts/page/home.js"></script>
    <script src="~/Scripts/page/comun.js"></script>


    <!-- setting -->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/naitus.js"></script>


    @RenderSection("scripts", required: false)

     @*PARA AVISO DE MANTENCION O TRABAJOS EN SITIO*@
    <div id="ModalWarning" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content" style="padding: 0px !important;">
                <div class="modal-header" style="background: rgb(230, 0, 18);">
                    <h1 class="modal-title text-white">Aviso</h1>
                    <a onclick="cerrarModal();">
                        <h3 class="text-white" style="cursor: pointer;">&times;</h3>
                    </a>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col-xl-12">
                                    <img sstyle="margin:0 auto;" src="~/img/imgs/ModalBotonPago.jpg" width="100%" height="100%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" style="background: rgb(230, 0, 18); font-size: 1.9rem;" onclick="cerrarModal();">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>



@*<script type="text/javascript">
    $(document).ready(function () {
        $('#ModalWarning').on('hide.bs.modal', function () {
            $(this).removeData();
        });
        $('#ModalWarning').modal({ backdrop: 'static', keyboard: false })
        $('#ModalWarning').modal('show');
    });
    function cerrarModal() {
        $('#ModalWarning').modal('hide');
    }
</script>*@

