@using MarubeniCreditWeb.Data.Package.Comun;

<!-- MODALES AUTO -->
<!-- Modal-Credito-Tradicional Listo -->
<div class="modal fade"
     id="creditoT_auto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold fs-2" id="exampleModalLabel">
                    Crédito Tradicional
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body fs-4">
                <div class="content">
                    <h3 class="fw-bold fs-2">
                        ¿Qué es un crédito tradicional?
                    </h3>
                    <p class="fs-3">Cuotas fijas mensuales en pesos.Plazos de 6 hasta 60 meses.</p>
                </div>
                @*<div class="content">
                        <h3 class="fw-bold fs-2">Beneficios</h3>
                        <div class="d-flex flex-wrap align-items-center">
                            <ul class="list col-sm-6 col-12">
                                <li class="fw-bold">Rapidez</li>
                                <li class="fw-bold">Aprobación de crédito en minutos</li>
                                <li class="fw-bold">Respaldo</li>
                            </ul>
                            <ul class="list col-sm-6 col-12">
                                <li class="fw-bold">Comodidad</li>
                                <li class="fw-bold">Deuda no informada</li>
                                <li class="fw-bold">No afecta su carga financiera</li>
                            </ul>
                        </div>
                        <p class="fs-4">
                            Nos ocupamos de todos los detalles de su crédito. Encontrará respuestas
                            claras y oportunas para que solo disfrute de su nuevo automóvil. Hará
                            todos los tramites en un mismo lugar.
                        </p>
                    </div>*@
                <br />
                <div class="content">
                    <h3 class="fw-bold fs-2">Requisitos</h3>
                    <ul class="list">
                        <li>Edad mínima: 23 años</li>
                        <li>Edad máxima: 74 años con 364 días de edad</li>
                        <li>Pie Mínimo 20% del valor del vehículo</li>
                        <li>
                            Renta mínima $350.000.- líquidos dependientes. $500.000 líquidos
                            independientes
                        </li>
                        <li>Patrimonio acreditable, según tipo cliente.</li>
                        <li>
                            Dependiente: 3 meses en empleo actual con contrato indefinido
                            (continuidad laboral de un año).
                        </li>
                        <li>
                            Independiente: 2 años en la actividad
                            incluido empresas.
                        </li>
                    </ul>
                </div>
                <br />
                <div class="content">
                    <h3 class="text-red fw-bold">Acreditaciones</h3>
                    <ul class="list">
                        <li>
                            Para trabajador dependiente :Cédula identidad vigente, Previred y comprobante domicilio.
                        </li>
                        <li>
                            Para trabajador independiente:Cédula identidad vigente, carpeta tributaria y comprobante domicilio.
                        </li>
                        <li>
                            Profesionales, consulta por tus condiciones especiales.
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0"  data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.Tradicional));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Autoplan -->
<div class="modal fade"
     id="creditoAP_auto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Autoplan
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-4">
                <div class="">
                    <div class="content text-black">
                        <h3 class="fw-bold">Descripción</h3>
                        <p class="fs-4">
                            Es un sistema de financiamiento que te permite poder renovar tu auto cada 2 o 3 años, entregando un pie bajo y obteniendo una cuota baja.
                            Además te permite mantener tu auto durante su mejor período de vida útil y luego renovarlo.
                        </p>

                        <h4 class="fw-bold mt-3">¿Cómo funciona?</h4>
                        <p class="fs-4">
                            Entregas un pie del 20% del valor del vehículo; el 30% se paga en cuotas mensuales fijas por un período de tiempo (2 o 3 años)
                            y el 50% restante corresponde al valor de retoma garantizado (VRG)
                            que tendrá tu auto al final del período, que corresponde a la cuota 25 o 37, según sea tu elección. 
                        </p>

                        <p class="mb-0 mt-4">
                            <span class="fw-bolder">VRG: </span>Valor de retoma garantizado de tu vehículo al final del
                            período.
                        </p>
                        <p class="mb-0 ">
                            Consulta las condiciones de este financiamiento a través de nuestros ejecutivos.
                        </p>

                        <p class="mb-0">
                            Cuando termina el plazo definido tienes 3 opciones:
                        </p>
                        <ul class="list">
                            <li>Renovar</li>
                            <li>Mantener</li>
                            <li>Devolver</li>
                        </ul>
                    </div>

                    <div class="content mt-4">
                        <h4 class="fw-bold py-3">Requisitos</h4>
                        <ul class="list">
                            <li>
                                Edad mínima: 21 años
                            </li>
                            <li>
                                Edad máxima: 70 años
                            </li>
                            <li>Renta mínima $500.000 líquidos.</li>
                            <li>Pie Mínimo 20% del valor del vehículo</li>

                            <li>Patrimonio acreditable, según tipo cliente.</li>
                            <li>
                                Dependiente: 3 meses en empleo actual con contrato indefinido
                                (continuidad laboral de un año). Independiente: 2 años en la actividad
                                incluido empresas.
                            </li>
                            <li>
                                Independiente: 2 años en la actividad
                                incluido empresas.
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="content">
                        <h5 class="text-red fw-bold">Acreditaciones</h5>
                        <ul class="list">
                            <li>
                                Para trabajador dependiente :Cédula identidad vigente, Previred y comprobante domicilio.
                            </li>
                            <li>
                                Para trabajador independiente:Cédula identidad vigente, carpeta tributaria y comprobante domicilio.
                            </li>
                            <li>
                                Profesionales, consulta por tus condiciones especiales.
                            </li>
                            <li>
                                Excluye : camiones , actividades renta presunta.

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.Autoplan));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Fast-Credit -->
<div class="modal fade"
     id="creditoFC_auto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Fast Credit
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-4">
                <div class="content">
                    <h3 class="fw-bold">Descripción</h3>
                    <p class="fs-4">
                        Es un crédito inmediato, para que adquieras tu vehículo de manera más simple.
                    </p>
                </div>
                @*<div class="content">
                        <h3 class="fw-bold">Beneficios</h3>
                        <p class="fs-4">
                            Un crédito inmediato, para que adquiera el vehículo de su elección sin
                            trámites y demoras.
                        </p>
                        <h5 class="text-black py-2 fw-bold text-uppercase">Respaldo</h5>
                        <p>
                            Contamos con más de 20 años de experiencia en Chile con el respaldo de
                            Marubeni Corporation Japón, compañía con más de 100 años haciendo
                            negocios en los cinco continentes y con gran presencia en la industria
                            automotriz a nivel mundial.
                        </p>
                        <h5 class="text-black py-2 fw-bold text-uppercase">Comodidad</h5>
                        <p>
                            Nos ocupamos de todos los detalles de su crédito. Encontrará respuestas
                            claras y oportunas para que solo disfrute de su nuevo automóvil. Hará
                            todos los tramites en un mismo lugar.
                        </p>
                        <h5 class="text-black py-2 fw-bold text-uppercase">
                            Deuda no informada
                        </h5>
                        <p>No afecta su carga financiera.</p>
                    </div>*@
                <br />
                <div class="content">
                    <h3 class="fw-bold">Requisitos</h3>
                    <ul class="list">
                        <li>
                            Edad mínima: 30 años
                        </li>
                        <li>Edad máxima: 74 años con 364 días de edad</li>
                        <li>Pie Mínimo 35% del valor del vehículo</li>
                        <li>
                            Monto Máximo a Financiar: $ 15.000.000 CLP
                        </li>
                        <li>
                            Dependiente: 6 meses en empleo actual con contrato indefinido.
                        </li>
                        <li>
                            Independiente: 2 años en la actividad incluido empresas. No aplica para independientes con giro, solo para independientes con boleta, profesionales tales como Abogados, contadores, médicos entre otros.
                        </li>
                        <li>  Plazo de crédito máximo de 48 meses.   </li>


                    </ul>
                </div>
                <br />
                <div class="content">
                    <h5 class="text-red fw-bold">Acreditaciones</h5>
                    <ul class="list">
                        <li>
                            Para trabajador dependiente:Cédula identidad vigente, Previred y
                            comprobante domicilio
                        </li>
                        <li>
                            Para trabajador independiente:Cédula identidad vigente y comprobante
                            domicilio. Solo si es independiente con boletas de servicios.
                        </li>
                        <li>Profesionales, consulta por tus condiciones especiales.</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.FastCredit));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Credito-Irregular -->
<div class="modal fade"
     id="creditoIR_auto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Crédito Irregular
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-4">
                <div class="content">
                    <h3 class="fw-bold">Descripción</h3>
                    <p class="fs-4">
                        Es un plan desarrollado para personas que mantienen ingresos variables. Acomoda tus cuotas a tus ingresos.
                    </p>

                    <p class="mb-0 mt-4 subtitle">
                        Garantía: El vehículo quedará en prenda por el período de duración del
                        crédito.
                    </p>
                </div>
                @*<div class="content mt-4">
                        <h3 class="fw-bold">Beneficios</h3>

                        <h5 class="text-black py-2 text-uppercase fw-bold">Rapidez</h5>
                        <p>Aprobamos su crédito en minutos.</p>
                        <h5 class="text-black py-2 text-uppercase fw-bold">Respaldo</h5>
                        <p>
                            Contamos con más de 20 años de experiencia en Chile con el respaldo de
                            Marubeni Corporation Japón, compañía con más de 100 años haciendo
                            negocios en los cinco continentes y con gran presencia en la industria
                            automotriz a nivel mundial.
                        </p>
                        <h5 class="text-black py-2 text-uppercase fw-bold">Comodidad</h5>
                        <p>
                            Nos ocupamos de todos los detalles de su crédito. Encontrará respuestas
                            claras y oportunas para que solo disfrute de su nuevo automóvil. Hará
                            todos los tramites en un mismo lugar.
                        </p>
                        <h5 class="text-black py-2 text-uppercase fw-bold">
                            Deuda no informada
                        </h5>
                        <p>No afecta su carga financiera.</p>
                    </div>*@
                <br />
                <div class="content">
                    <h4 class="fw-bold">Requisitos</h4>
                    <ul class="list">
                        <li>Edad mínima: 23 años</li>
                        <li>Edad máxima: 74 años con 364 días de edad</li>
                        <li>Pie Mínimo 20% del valor del vehículo</li>
                        <li>
                            Dependiente: 3 meses en empleo actual con contrato indefinido.
                            (continuidad laboral de un año)
                        </li>
                        <li>
                            Independiente: 2 años en la actividad
                            incluido empresas.
                        </li>
                    </ul>
                </div>
                <br />
                <div class="content">
                    <h5 class="text-red fw-bold">Acreditaciones</h5>
                    <ul class="list">
                        <li>
                            Para trabajador dependiente:Cédula identidad vigente, Previred y
                            comprobante domicilio
                        </li>
                        <li>
                            Para trabajador independiente:Cédula identidad vigente y comprobante
                            domicilio. Solo si es independiente con boletas de servicios.
                        </li>
                        <li>Profesionales, consulta por tus condiciones especiales.</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.Irregular));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Autoplan-Seminuevo -->
<div class="modal fade"
     id="creditoASN_auto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Autoplan Seminuevo
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-4">
                <div class="content">
                    <h3 class="fw-bold">Descripción</h3>
                    <p class="fs-4">
                        Es un sistema de financiamiento  para vehículos usados con un máximo de 3 años, que te permite poder renovar tu auto cada 2 años, entregando un pie bajo y obteniendo una cuota baja. Además te permite mantener tu auto durante su mejor período de vida útil y luego renovarlo.

                    </p>

                    <h4 class="fw-bold mt-3">¿Cómo funciona?</h4>
                    <p class="fs-4">
                        Entregas un pie del 20% del valor del vehículo; el 30% se paga en cuotas mensuales fijas por un período de tiempo (2 años) y el 40% restante corresponde al valor de retoma garantizado (VRG) que tendrá tu auto al final del período, que corresponde a la cuota 25. 
                    </p>

                    <p class="mb-0 mt-4">
                        <span class="fw-bolder">VRG: </span>Valor de retoma garantizado de tu vehículo al final del
                        período.
                    </p>
                    <p class="mb-0">
                        Consulta las condiciones de este financiamiento a través de nuestros
                        ejecutivos.
                    </p>
                    <p class="mb-0">
                        Cuando termina el plazo definido tienes 3 opciones:
                    </p>
                    <ul class="list">
                        <li>Renovar</li>
                        <li>Mantener</li>
                        <li>Devolver</li>
                    </ul>

                </div>

                <div class="content">
                    <h4 class="fw-bold">Requisitos</h4>
                    <ul class="list">
                        <li>Edad mínima: 21 años</li>
                        <li>Edad máxima: 74 años con 364 días de edad</li>
                        <li>Pie Mínimo 20% del valor del vehículo</li>
                        <li>
                            Dependiente: 3 meses en empleo actual con contrato indefinido.
                            (continuidad laboral de un año)
                        </li>
                        <li>
                            Independiente: 2 años en la actividad
                            incluido empresas.
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <h5 class="text-red fw-bold">Acreditaciones</h5>
                    <ul class="list">
                        <li>
                            Para trabajador dependiente:Cédula identidad vigente, Previred y
                            comprobante domicilio
                        </li>
                        <li>
                            Para trabajador independiente:Cédula identidad vigente y comprobante
                            domicilio. Solo si es independiente con boletas de servicios.
                        </li>
                        <li>Profesionales, consulta por tus condiciones especiales.</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.AutoplanSemi));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Plan-Taxi -->
<div class="modal fade"
     id="creditoPT_auto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Crédito Taxi, Colectivos y Transporte Escolar

                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-4">
                <div class="content">
                    <h3 class="fw-bold">Descripción</h3>
                    <p class="fs-4">
                        Alternativa que te ayuda a financiar tu herramienta de trabajo. Considera seguros especiales y focalizados para el rubro.

                    </p>

                    @*<p class="mb-0 mt-4 subtitle">
                            Garantía: El vehículo quedará en prenda por el período de duración del
                            crédito.
                        </p>
                        <p class="mb-0 subtitle">Seguros: Seguros especiales y focalizados para el rubro.</p>*@
                </div>
                @*<div class="content mt-4">
                        <h3 class="fw-bold py-2">Beneficios</h3>

                        <p class="fs-4">
                            Si su vehículo es la herramienta de trabajo o necesita renovar o
                            ampliar su flota este Crédito está pensado para usted.Contempla el no
                            pago de las cuotas en los meses de Enero y Febrero. Solo para transporte
                            escolar.
                        </p>
                    </div>*@

                <div class="content mt-3">
                    <h3 class="fw-bold">Requisitos</h3>
                    <ul class="list">
                        <li>Edad mínima: 25 años</li>
                        <li>Edad máxima: 74 años con 364 días de edad</li>
                        <li>Pie Mínimo 30% del valor del vehículo</li>
                        <li>2 años en la actividad.</li>
                        <li>Casa propia.</li>
                    </ul>
                </div>
                <div class="content">
                    <h3 class="text-red fw-bold">Acreditaciones</h3>
                    <ul class="list">
                        <li>
                            Cédula identidad vigente
                        </li>
                        <li>
                            CAV del vehículo
                        </li>
                        <li>
                            Comprobante domicilio
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5 px-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.Taxi));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- MODALES MOTO-->
<!-- Modal-Credito-Tradicional -->
<div class="modal fade"
     id="creditoT_moto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Crédito Tradicional Motos
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-5">
                <div class="content">
                    <h3 class="fw-bold">Descripción</h3>
                    <p class="fs-2">Cuotas fijas mensuales en pesos. Plazos de 6 hasta 36 meses.</p>
                </div>
                @*<div class="content">
                        <h3 class="fw-bold">Beneficios</h3>
                        <h5 class="text-black py-2 text-uppercase">Rapidez </h5>
                        <p>Aprobamos su crédito en minutos.</p>
                        <h5 class="text-black py-2 text-uppercase">Respaldo</h5>
                        <p>
                            Contamos con más de 20 años de experiencia en Chile con el respaldo de
                            Marubeni Corporation Japón, compañía con más de 100 años haciendo
                            negocios en los cinco continentes y con gran presencia en la industria
                            automotriz a nivel mundial.
                        </p>
                        <h5 class="text-black py-2 text-uppercase">Comodidad</h5>
                        <p>
                            Nos ocupamos de todos los detalles de su crédito. Encontrará respuestas
                            claras y oportunas para que solo disfrute de su nuevo automóvil. Hará
                            todos los tramites en un mismo lugar.
                        </p>
                        <h5 class="text-black py-2 text-uppercase">Deuda no informada</h5>
                        <p>No afecta su carga financiera.</p>
                    </div>*@
                <div class="content">
                    <h3 class="fw-bold">Requisitos</h3>
                    <ul class="list fs-4">
                        <li>Trabajador dependiente</li>
                        <li>Edad mínima: 25 años</li>
                        <li>Edad máxima: 74 años con 364 días de edad</li>
                        <li>Pie Mínimo 30% del valor del vehículo</li>
                        <li>Renta mínima $350.000.- líquidos dependientes.</li>
                        <li>
                            Dependiente: 3 meses en empleo actual con contrato indefinido
                            (continuidad laboral de un año).
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <h5 class="text-red fw-bold">Acreditaciones</h5>
                    <ul class="list">
                        <li>
                            Cédula identidad vigente, Previred y comprobante domicilio.
                        </li>
                        <li>
                            Profesionales, consulta por tus condiciones especiales.
                        </li>


                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.MotoTradicional));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Credito-Moto -->
<div class="modal fade"
     id="creditoMP_moto"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Crédito Motoplan
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-md-5 p-1 fs-4">
                <div class="content">
                    <h4 class="fw-bold">Descripción</h4>
                    <p class="fs-4">
                        Es un sistema de financiamiento que te permite poder renovar tu motocicleta cada 2 o 3 años,
                        entregando un pie bajo y obteniendo una cuota baja. Además te permite mantener tu moto durante su mejor
                        período de vida útil y luego renovarlo.

                    </p>

                    <h4 class="fw-bold mt-3">¿Cómo funciona?</h4>
                    <p class="fs-4">
                        Entregas un pie del 30% del valor del vehículo; el 20% se paga en cuotas mensuales fijas por un período de tiempo (25 meses) y el 50% restante corresponde al valor de retoma garantizado (VRG) que tendrá tu moto al final del período, que corresponde a la cuota 25. 

                    </p>
                    <p class="fs-4">
                        Alternativa a 37 meses: 30% de pie, 30% en cuotas, 40% VRG

                    </p>

                    <p class="mb-0 mt-4">
                        <span class="fw-bolder">VRG: </span>Valor de retoma garantizado de tu vehículo al final del
                        período.
                    </p>
                    <p class="mb-0">
                        Consulta las condiciones de este financiamiento a través de nuestros
                        ejecutivos.
                    </p>
                    @*<p class="mb-0"><strong>Disponible sólo para motocicletas nuevas Honda.</strong></p>*@

                    <p class="mb-0">
                        Cuando termina el plazo definido tienes 3 opciones:
                    </p>
                    <ul class="list">
                        <li>Renovar</li>
                        <li>Mantener</li>
                        <li>Devolver</li>
                    </ul>
                </div>

                <h4>Consulta por los modelos que puedes financiar con con Motoplan </h4>

                <div class="content">
                    <h4 class="fw-bold">Requisitos</h4>
                    <ul class="list fs-4">

                        <li>
                            Trabajador dependiente.
                        </li>
                        <li>
                            Edad mínima: 25 años
                        </li>
                        <li>
                            Edad máxima: 74 años con 364 días de edad.
                        </li>
                        <li>
                            Pie Mínimo 35% del valor del vehículo.
                        </li>
                        <li>
                            Renta mínima $350.000.- líquidos dependientes.
                        </li>
                        <li>
                            Dependiente: 3 meses en empleo actual con contrato indefinido (continuidad laboral de un año).
                        </li>

                    </ul>
                </div>
                <div class="content">
                    <h5 class="text-red fw-bold">Acreditaciones</h5>
                    <ul class="list">
                        <li>
                            Cédula identidad vigente, Previred y comprobante domicilio.
                        </li>
                        <li>
                            Profesionales, consulta por tus condiciones especiales.
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start fs-5">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.Motoplan));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>
<!--MODALES MOTO-->
<!-- MODALES CAMION-->
<!-- Modal-Credito-Tradicional-->
<div class="modal fade"
     id="creditoT_camion"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-5">
            <div class="modal-header">
                <h2 class="modal-title text-red fw-bold" id="exampleModalLabel">
                    Crédito Tradicional Camiones
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 fs-4">
                <div class="content">
                    <h3 class="fw-bold">Descripción</h3>
                    <p class="fs-4">
                        Financiamiento para camiones nuevos, entre 5.000 y 8.000 Kilos (puedes financiar: Chassis/Cabina + carrocería carga + accesorios
                        que no superen el 40% del valor chasis cabina (no se financian equipos de frío)
                        Cuotas en pesos fijas, plazo entre 6 ay 48 meses. Con un financiamiento máximo del 70%


                    </p>

                </div>
                @*<div class="content">
                        <h3 class="fw-bold">Beneficios</h3>
                        <p>
                            Más de 20 años de experiencia en financiamiento automotriz llevados al
                            financiamiento de camiones, con un servicio, ágil, flexible y eficiente
                            para camiones nuevos hasta 8 toneladas.Permite incluir en el crédito el
                            chasis, cabina más carrocería de carga y accesorios, como equipos de
                            frío.
                        </p>
                    </div>*@
                <div class="content">
                    <h3 class="fw-bold">Requisitos</h3>
                    <ul class="list">
                        <li>Experiencia en el rubro 2 años mínimo</li>
                        <li>Edad mínima 30 años</li>
                        <li>Poseer camión año 2000 en adelante.</li>
                        <li>Carpeta tributaria.</li>
                    </ul>
                </div>

                <div class="content">
                    <h5 class="text-red fw-bold">Acreditaciones</h5>
                    <ul class="list">
                        <li>
                            Cédula identidad vigente
                        </li>
                        <li>
                            Carpeta tributaria
                        </li>
                        <li>
                            Comprobante domicilio.
                        </li>
                        <li>
                            Acreditar contratos vigentes de servicios.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <p>
                    * Sujeto a evaluación de antecedentes financieros y comerciales del
                    cliente
                </p>
                <p>
                    *Adicionalmente, el cliente deberá cumplir las condiciones objetivas de
                    financiamiento señaladas
                <p class="mb-0" data-bs-toggle="modal" data-bs-target="#modalCO" onclick="ShowCondiciones(@((int)Objeto.TipoCredito.Camion));"><span class="text-red">aquí</span> </p>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- MODALES CAMION-->
